In [1]:
import os
import pandas as pd
os.getcwd()

'/home/jupyter/nft/nft_capstone'

## Load Data

In [2]:
df = pd.read_csv('https://storage.googleapis.com/nft_capstone_datafiles/Data_API.csv.gz',
                 dtype={'Smart_contract':str, 'ID_token':str, 'Transaction_hash':str,'Seller_username':str,'Buyer_username':str,'Image_url_2':str,
                        'Image_url_3':str,'Image_url_4':str,'Name':str,'Description':str,'Permanent_link':str})

In [3]:
df.head(5)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Name,Description,Collection,Market,Datetime_updated,Datetime_updated_seconds,Permanent_link,Unique_id_collection,Collection_cleaned,Category
0,NaN,87094722.0,0xed9ff1c311a611e5c457ce0a49bbbb7ed55efca98842...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0xe0fb7622091e3d9ef9b438471b10b9ea88c7cf6b,NaN,https://card.godsunchained.com/?id=33&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '87094722.0')",Godsunchained,Games
1,NaN,73044643.0,0xbc8412594ffa7382e8306215ece5b4e041fc641b1813...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0x2c00d05ff7ffe93d77145dfe12aa56e622ae6f40,NaN,https://card.godsunchained.com/?id=79&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '73044643.0')",Godsunchained,Games
2,NaN,17107482.0,0x92672baf5e9e23de230dee8e57ddf443ab6d5a336341...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0xe0fb7622091e3d9ef9b438471b10b9ea88c7cf6b,NaN,https://card.godsunchained.com/?id=33&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '17107482.0')",Godsunchained,Games
3,NaN,82230857.0,0x3d157249e3083622c2d756f07a05caa3a76687288b32...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0x2c00d05ff7ffe93d77145dfe12aa56e622ae6f40,NaN,https://card.godsunchained.com/?id=227&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:59:33,NaN,"('Godsunchained', '82230857.0')",Godsunchained,Games
4,NaN,40925443.0,0xa892b3569dc8e6b3c7db93aade62372637ebbc61fb63...,0x76481caa104b5f6bccb540dae4cefaf1c398ebea,NaN,0x2c00d05ff7ffe93d77145dfe12aa56e622ae6f40,NaN,https://card.godsunchained.com/?id=62&q=4,NaN,NaN,...,NaN,NaN,Godsunchained,Godsunchained,2019-11-30 00:00:00,2019-11-30 23:58:44,NaN,"('Godsunchained', '40925443.0')",Godsunchained,Games

In [4]:
df.ID_token.isna().sum()

0

In [5]:
df.Unique_id_collection.isna().sum()

0

In [6]:
print(df.Datetime_updated.isna().sum())
print(df.Datetime_updated.min())
print(df.Datetime_updated.max())

0
2017-11-23 00:00:00
2021-04-27 00:00:00

In [7]:
#sort dataframe by datetimestamp
df = df.sort_values(by='Datetime_updated_seconds', ascending=True)

In [8]:
#prepare dataframe for median price calculation
df2 = df[['Collection_cleaned','Datetime_updated','Price_Crypto','Price_USD']]
df2.head(5)

       Collection_cleaned     Datetime_updated  Price_Crypto  Price_USD
242722       Cryptokittie  2017-11-23 00:00:00      0.009922   3.970675
242721       Cryptokittie  2017-11-23 00:00:00      0.009751   3.902311
242720       Cryptokittie  2017-11-23 00:00:00      0.009817   3.928712
242719       Cryptokittie  2017-11-23 00:00:00      0.009751   3.902311
242718       Cryptokittie  2017-11-23 00:00:00      0.009567   3.828667

In [9]:
df_grouper_median = df2.groupby(pd.Grouper(key='Datetime_updated', axis=0)).median()
df_grouper_median.head(10)

                     Price_Crypto  Price_USD
Datetime_updated
2017-11-23 00:00:00      0.009747   3.900504
2017-11-24 00:00:00      0.011875   5.216542
2017-11-25 00:00:00      0.007783   3.651833
2017-11-26 00:00:00      0.006144   2.924043
2017-11-27 00:00:00      0.009897   4.644334
2017-11-28 00:00:00      0.010980   5.077318
2017-11-29 00:00:00      0.014672   6.694795
2017-11-30 00:00:00      0.009437   4.172085
2017-12-01 00:00:00      0.006232   2.861347
2017-12-02 00:00:00      0.009873   4.502599

In [10]:
# import gc
# del(df_rolling_median)
# gc.collect()

In [11]:
df_rolling_median = df2.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD = d['Price_USD'].rolling(window = 90, min_periods = 1).median())).reset_index(drop=True)
df_rolling_median.head(10)

,Collection_cleaned,Datetime_updated,Price_Crypto,Price_USD,Rolling_Median_USD
0,Aaronsartistry,2021-01-27 00:00:00,0.03,38.73240,38.7324
1,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,46.0104
2,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,53.2884
3,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,53.2884
4,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,53.2884
5,Aaronsartistry,2021-02-26 00:00:00,0.06,88.90920,53.2884
6,Aaronsartistry,2021-03-05 00:00:00,0.06,89.78490,53.2884
7,Aaronsartistry,2021-03-05 00:00:00,0.03,44.89245,53.2884
8,Aaronsartistry,2021-03-05 00:00:00,0.03,44.89245,53.2884
9,Aaronsartistry,2021-03-05 00:00:00,0.03,44.89245,53.2884

In [12]:
# df_rolling_median.reset_index(drop=True)

In [13]:
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto = d['Price_Crypto'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median.head(10)

,Collection_cleaned,Datetime_updated,Price_Crypto,Price_USD,Rolling_Median_USD,Rolling_Median_Crypto
0,Aaronsartistry,2021-01-27 00:00:00,0.03,38.73240,38.7324,0.03
1,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,46.0104,0.03
2,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,53.2884,0.03
3,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,53.2884,0.03
4,Aaronsartistry,2021-02-16 00:00:00,0.03,53.28840,53.2884,0.03
5,Aaronsartistry,2021-02-26 00:00:00,0.06,88.90920,53.2884,0.03
6,Aaronsartistry,2021-03-05 00:00:00,0.06,89.78490,53.2884,0.03
7,Aaronsartistry,2021-03-05 00:00:00,0.03,44.89245,53.2884,0.03
8,Aaronsartistry,2021-03-05 00:00:00,0.03,44.89245,53.2884,0.03
9,Aaronsartistry,2021-03-05 00:00:00,0.03,44.89245,53.2884,0.03

In [14]:
len(df_rolling_median)

6071027

In [15]:
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_90d = d['Price_USD'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_90d = d['Price_Crypto'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_60d = d['Price_USD'].rolling(window = 60, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_60d = d['Price_Crypto'].rolling(window = 60, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_30d = d['Price_USD'].rolling(window = 30, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_30d = d['Price_Crypto'].rolling(window = 30, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_7d = d['Price_USD'].rolling(window = 7, min_periods = 1).median())).reset_index(drop = True)
# df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_7d = d['Price_Crypto'].rolling(window = 7, min_periods = 1).median())).reset_index(drop = True)

df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_2y = d['Price_USD'].rolling(window = 730, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_2y = d['Price_Crypto'].rolling(window = 730, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_1y = d['Price_USD'].rolling(window = 365, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_1y = d['Price_Crypto'].rolling(window = 365, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_180d = d['Price_USD'].rolling(window = 180, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_180d = d['Price_Crypto'].rolling(window = 180, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_90d = d['Price_USD'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_90d = d['Price_Crypto'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_60d = d['Price_USD'].rolling(window = 60, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_60d = d['Price_Crypto'].rolling(window = 60, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_30d = d['Price_USD'].rolling(window = 30, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_30d = d['Price_Crypto'].rolling(window = 30, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_14d = d['Price_USD'].rolling(window = 14, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_14d = d['Price_Crypto'].rolling(window = 14, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_USD_7d = d['Price_USD'].rolling(window = 7, min_periods = 1).median())).reset_index(drop = True)
df_rolling_median = df_rolling_median.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Median_Crypto_7d = d['Price_Crypto'].rolling(window = 7, min_periods = 1).median())).reset_index(drop = True)

In [16]:
df_rolling_median["Rolling_Median_USD"] = df_rolling_median.groupby(['Collection_cleaned','Datetime_updated'])['Price_USD'].expanding().median().values
df_rolling_median["Rolling_Median_Crypto"] = df_rolling_median.groupby(['Collection_cleaned','Datetime_updated'])['Price_Crypto'].expanding().median().values

In [17]:
df_rolling_median2 = df_rolling_median.drop(columns=['Price_Crypto','Price_USD'])
df_rolling_median2 = df_rolling_median2.groupby(['Collection_cleaned','Datetime_updated']).first().reset_index()
df_rolling_median2.head(10)

,Collection_cleaned,Datetime_updated,Rolling_Median_USD,Rolling_Median_Crypto,Median_USD_2y,Median_Crypto_2y,Median_USD_1y,Median_Crypto_1y,Median_USD_180d,Median_Crypto_180d,Median_USD_90d,Median_Crypto_90d,Median_USD_60d,Median_Crypto_60d,Median_USD_30d,Median_Crypto_30d,Median_USD_14d,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d
0,Aaronsartistry,2021-01-27 00:00:00,38.7324,0.03,38.73240,0.03,38.73240,0.03,38.73240,0.03,38.73240,0.03,38.73240,0.03,38.73240,0.03,38.7324,0.03,38.73240,0.03
1,Aaronsartistry,2021-02-16 00:00:00,53.2884,0.03,46.01040,0.03,46.01040,0.03,46.01040,0.03,46.01040,0.03,46.01040,0.03,46.01040,0.03,46.0104,0.03,46.01040,0.03
2,Aaronsartistry,2021-02-26 00:00:00,88.9092,0.06,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.2884,0.03,53.28840,0.03
3,Aaronsartistry,2021-03-05 00:00:00,89.7849,0.06,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.2884,0.03,53.28840,0.03
4,Aaronsartistry,2021-03-06 00:00:00,47.7759,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.2884,0.03,44.89245,0.03
5,Aaronsartistry,2021-03-07 00:00:00,100.9833,0.06,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.7759,0.03,47.77590,0.03
6,Aaronsartistry,2021-03-10 00:00:00,36.3670,0.02,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.7759,0.03,47.77590,0.03
7,Aaronsartistry,2021-03-17 00:00:00,53.7174,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.77590,0.03,47.7759,0.03,47.77590,0.03
8,Aaronsartistry,2021-03-20 00:00:00,110.0979,0.06,50.53215,0.03,50.53215,0.03,50.53215,0.03,50.53215,0.03,50.53215,0.03,50.53215,0.03,47.7759,0.03,47.77590,0.03
9,Aaronsartistry,2021-03-21 00:00:00,106.9581,0.06,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,53.28840,0.03,47.7759,0.03,73.39860,0.04

In [18]:
len(df_rolling_median2)

83017

In [19]:
# df_rolling_median.loc[df_rolling_median['Collection_cleaned'] == 'Aaronsartistry']

In [20]:
    # df_rolling_median.loc[df_rolling_median['Collection_cleaned'] == 'Abrehmiii']

In [21]:
# df_rolling_median.iloc[2597:2625]

In [22]:
# test_cumulative_median_df = df_rolling_median.loc[(df_rolling_median['Collection_cleaned'] == 'Aaronsartistry') | (df_rolling_median['Collection_cleaned'] == 'Abrehmiii')]
# test_cumulative_median_df

In [23]:
# # test_cumulative_median_df['Cumulative_median'] = test_cumulative_median_df.groupby(['Collection_cleaned', 'Datetime_updated'])['Price_USD'].median()
# # test_cumulative_median_df
# test_cumulative_median_df.groupby(['Collection_cleaned', 'Datetime_updated'])['Price_USD'].median().reset_index()

In [24]:
# from datetime import date, timedelta, datetime
# test_cumulative_median_df['Date_minus1'] = pd.to_datetime(test_cumulative_median_df['Datetime_updated'])- timedelta(days=1)
# test_cumulative_median_df

In [25]:
# test_cumulative_median_df.groupby(['Collection_cleaned', 'Datetime_updated'])['Price_USD'].expanding().median()

In [26]:
# test_cumulative_median_df["test_field"] = test_cumulative_median_df.groupby(['Collection_cleaned','Datetime_updated'])['Price_USD'].expanding().median().values

In [27]:
# test_cumulative_median_df

In [28]:
# test_cumulative_median_df["test_field_2"] = test_cumulative_median_df.groupby('Collection_cleaned')['Price_USD'].shift(1)
# test_cumulative_median_df

In [29]:
# test_cumulative_median_df["test_field_3"] = test_cumulative_median_df.groupby(['Collection_cleaned','Datetime_updated'])['test_field_2'].expanding().median().values
# test_cumulative_median_df

In [30]:
# test_cumulative_median_df[50:66]

In [31]:
# test_cumulative_median_df.groupby(['Collection_cleaned', 'Date_minus1'])['Price_USD'].median().reset_index()

In [32]:
df['ID_token'].nunique()

4337718

In [33]:
df['Unique_id_collection'].nunique()

4678242

In [34]:
4746857-4678242

68615

In [35]:
df['Transaction_hash'].nunique()

2180960

In [36]:
df['Image_url_1'].nunique()

1602953

In [37]:
df['Collection'].nunique()

6283

In [38]:
df['Collection_cleaned'].nunique()

4624

In [39]:
df['Name'].nunique()

1219345

In [40]:
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_90d = d['Price_USD'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_90d = d['Price_Crypto'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_60d = d['Price_USD'].rolling(window = 60, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_60d = d['Price_Crypto'].rolling(window = 60, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_30d = d['Price_USD'].rolling(window = 30, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_30d = d['Price_Crypto'].rolling(window = 30, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_USD_7d = d['Price_USD'].rolling(window = 7, min_periods = 1).median())).reset_index(drop = True)
# test_cumulative_median_df = test_cumulative_median_df.groupby(['Collection_cleaned']).apply(lambda d: d.assign(Rolling_Median_Crypto_7d = d['Price_Crypto'].rolling(window = 7, min_periods = 1).median())).reset_index(drop = True)

In [41]:
# test_cumulative_median_df

In [42]:
# df.columns

### Merge Rolling Median Prices with original dataframe

In [43]:
df = pd.merge(df, df_rolling_median2, on=['Collection_cleaned','Datetime_updated'], how="left")
df.head(10)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_USD_90d,Median_Crypto_90d,Median_USD_60d,Median_Crypto_60d,Median_USD_30d,Median_Crypto_30d,Median_USD_14d,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d
0,NaN,1001.0,0x5c8a04e3174fed51f8cbe8f8ec77b6d5714343c3ebc6...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x672ec49f7f7eac25c3a2e651f67f579bb5da8936,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
1,NaN,1002.0,0x468168419be7e442d5ff32d264fab24087b744bc2e37...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x316c55d1895a085c4b39a98ecb563f509301aaf7,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
2,NaN,1003.0,0xc9812b823ddd7b32184525598aafeae78e3b4544a471...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x730fafe1108f507b454b6eb59f0eec1f1ba31935,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
3,NaN,1004.0,0xa218fc480601f5810b51138ce92365deb00e9e0107d1...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x3849082eff243a825a82baea2a7c6f20a1134fd0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
4,NaN,1005.0,0x4aac006449d46587bafd2836cfb221be3588137c4022...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x30ad9c33809f33b599f1b9e6b69958e1c22b3ae0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
5,NaN,1006.0,0xfb7d991c9dc8fcdd48b88d8c50069f51a082ebc27dab...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x77efe0036a742b8c3f31fa87dc28e277f3c21d4b,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
6,NaN,1007.0,0x13775391b71db26adf27202853b7bdccc1dfc75ef27b...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x0b8546f4d2f324aba30168dc8acf113c301d3cfe,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
7,NaN,1008.0,0x621c58ab6adc225f021cc66cc94003c4cf921f277375...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x76df4c63c28d462d5064add17f51e2ad55c9d5a2,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
8,NaN,1009.0,0x55350380f679b0ee3f44bb4beff9a9f2394fb0dd7433...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x0b8546f4d2f324aba30168dc8acf113c301d3cfe,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922
9,NaN,1010.0,0x91aa1c526e5a9e8dc3cf1de12d8e23e681e985fa36ad...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x40dbf0a418f63e45afcd4e839e3582d1f6dc476e,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922

### Calculate Probability Resale based on Nature paper

In [44]:
# df_primary_sales = df.groupby('ID_token', as_index=False)['Datetime_updated_seconds'].min()
df_primary_sales = df.groupby('Unique_id_collection', as_index=False)['Datetime_updated_seconds'].min()
df_primary_sales.head(5)

                                Unique_id_collection Datetime_updated_seconds
0                                ('0-domains', '16')      2020-11-06 05:42:28
1                                 ('0-domains', '2')      2020-04-09 09:35:34
2                         ('0x-meets-imtoken', '24')      2020-12-26 07:47:28
3  ('0x001ba7dc2ddfa893c17b6b478c9853b83fc8594c',...      2020-11-13 19:44:51
4  ('0x001ba7dc2ddfa893c17b6b478c9853b83fc8594c',...      2020-12-06 10:19:44

In [45]:
print(len(df_primary_sales))
df_primary_sales.tail(5)

4678242

                      Unique_id_collection Datetime_updated_seconds
4678237  ('zombieartist', '1099521575043')      2021-04-02 03:53:36
4678238  ('zombiesperks', '1099521133207')      2021-04-11 20:01:22
4678239  ('zombiesperks', '1099523337339')      2021-04-11 20:08:47
4678240  ('zombiesperks', '1099523337404')      2021-04-11 20:18:44
4678241  ('zweihspacert', '1099519817711')      2021-03-18 07:51:55

In [46]:
df_primary_sales['sales_type'] = 'primary'

In [47]:
df_primary_sales.tail(5)

                      Unique_id_collection Datetime_updated_seconds sales_type
4678237  ('zombieartist', '1099521575043')      2021-04-02 03:53:36    primary
4678238  ('zombiesperks', '1099521133207')      2021-04-11 20:01:22    primary
4678239  ('zombiesperks', '1099523337339')      2021-04-11 20:08:47    primary
4678240  ('zombiesperks', '1099523337404')      2021-04-11 20:18:44    primary
4678241  ('zweihspacert', '1099519817711')      2021-03-18 07:51:55    primary

In [48]:
#identify primary vs secondary sales by ID_token
# df = pd.merge(df, df_primary_sales, how='left', on=['ID_token','Datetime_updated_seconds'])
df = pd.merge(df, df_primary_sales, how='left', on=['Unique_id_collection','Datetime_updated_seconds'])
df.head(5)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_Crypto_90d,Median_USD_60d,Median_Crypto_60d,Median_USD_30d,Median_Crypto_30d,Median_USD_14d,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d,sales_type
0,NaN,1001.0,0x5c8a04e3174fed51f8cbe8f8ec77b6d5714343c3ebc6...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x672ec49f7f7eac25c3a2e651f67f579bb5da8936,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary
1,NaN,1002.0,0x468168419be7e442d5ff32d264fab24087b744bc2e37...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x316c55d1895a085c4b39a98ecb563f509301aaf7,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary
2,NaN,1003.0,0xc9812b823ddd7b32184525598aafeae78e3b4544a471...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x730fafe1108f507b454b6eb59f0eec1f1ba31935,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary
3,NaN,1004.0,0xa218fc480601f5810b51138ce92365deb00e9e0107d1...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x3849082eff243a825a82baea2a7c6f20a1134fd0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary
4,NaN,1005.0,0x4aac006449d46587bafd2836cfb221be3588137c4022...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x30ad9c33809f33b599f1b9e6b69958e1c22b3ae0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary

In [49]:
df.sales_type.isna().sum()

1392500

In [50]:
df.sales_type = df.sales_type.fillna('secondary')
df.sales_type.isna().sum()

0

In [51]:
df_collection_primary_sales = df.groupby('Collection_cleaned', as_index=False)['Datetime_updated_seconds'].min()
df_collection_primary_sales.head(5)

           Collection_cleaned Datetime_updated_seconds
0              Aaronsartistry      2021-01-27 21:24:39
1                     Aasgard      2021-01-07 03:04:36
2                  Aavegotchi      2020-10-20 19:51:06
3                       Abacu      2021-01-30 02:48:42
4  Abeautifulthingawaitsusall      2020-12-13 23:25:58

In [52]:
print(len(df_collection_primary_sales))
df_collection_primary_sales['collection_sales_type'] = 'primary'

4624

In [53]:
# merge collection primary vs secondary with original dataframe
df = pd.merge(df, df_collection_primary_sales, how='left', on=['Collection_cleaned','Datetime_updated_seconds'])
df.head(5)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_USD_60d,Median_Crypto_60d,Median_USD_30d,Median_Crypto_30d,Median_USD_14d,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d,sales_type,collection_sales_type
0,NaN,1001.0,0x5c8a04e3174fed51f8cbe8f8ec77b6d5714343c3ebc6...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x672ec49f7f7eac25c3a2e651f67f579bb5da8936,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary
1,NaN,1002.0,0x468168419be7e442d5ff32d264fab24087b744bc2e37...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x316c55d1895a085c4b39a98ecb563f509301aaf7,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary
2,NaN,1003.0,0xc9812b823ddd7b32184525598aafeae78e3b4544a471...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x730fafe1108f507b454b6eb59f0eec1f1ba31935,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary
3,NaN,1004.0,0xa218fc480601f5810b51138ce92365deb00e9e0107d1...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x3849082eff243a825a82baea2a7c6f20a1134fd0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary
4,NaN,1005.0,0x4aac006449d46587bafd2836cfb221be3588137c4022...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x30ad9c33809f33b599f1b9e6b69958e1c22b3ae0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary

In [54]:
df.collection_sales_type.isna().sum()

6066311

In [55]:
df.collection_sales_type = df.collection_sales_type.fillna('secondary')
df.collection_sales_type.isna().sum()

0

In [56]:
# temp_df_primarysecondary2['p_resale'] = temp_df_primarysecondary2.loc[temp_df_primarysecondary2['collection_sales_type'] == 'primary', 'p_resale'] = 0.5
# temp_df_primarysecondary2.head(5)

In [57]:
len(df)

6071027

In [58]:
temp_df_prob_resale = df[['Collection_cleaned','collection_sales_type','sales_type','Datetime_updated']]
temp_df_prob_resale.head(5)

  Collection_cleaned collection_sales_type sales_type     Datetime_updated
0       Cryptokittie               primary    primary  2017-11-23 00:00:00
1       Cryptokittie               primary    primary  2017-11-23 00:00:00
2       Cryptokittie               primary    primary  2017-11-23 00:00:00
3       Cryptokittie               primary    primary  2017-11-23 00:00:00
4       Cryptokittie               primary    primary  2017-11-23 00:00:00

In [59]:
temp_df_prob_resale2 = temp_df_prob_resale.groupby([pd.Grouper(key='Datetime_updated', axis=0),'Collection_cleaned','sales_type']).count().reset_index().rename(columns={'collection_sales_type':'daily_count'})
temp_df_prob_resale2.head(5)

      Datetime_updated Collection_cleaned sales_type  daily_count
0  2017-11-23 00:00:00       Cryptokittie    primary          480
1  2017-11-23 00:00:00       Cryptokittie  secondary            8
2  2017-11-24 00:00:00       Cryptokittie    primary          406
3  2017-11-24 00:00:00       Cryptokittie  secondary           27
4  2017-11-25 00:00:00       Cryptokittie    primary          361

In [60]:
len(temp_df_prob_resale2)

108952

In [61]:
temp_df_prob_resale2['cumulative_count'] = temp_df_prob_resale2.groupby(['Collection_cleaned','sales_type'])['daily_count'].transform(pd.Series.cumsum)
temp_df_prob_resale2.head(10)

,Datetime_updated,Collection_cleaned,sales_type,daily_count,cumulative_count
0,2017-11-23 00:00:00,Cryptokittie,primary,480,480
1,2017-11-23 00:00:00,Cryptokittie,secondary,8,8
2,2017-11-24 00:00:00,Cryptokittie,primary,406,886
3,2017-11-24 00:00:00,Cryptokittie,secondary,27,35
4,2017-11-25 00:00:00,Cryptokittie,primary,361,1247
5,2017-11-25 00:00:00,Cryptokittie,secondary,27,62
6,2017-11-26 00:00:00,Cryptokittie,primary,133,1380
7,2017-11-26 00:00:00,Cryptokittie,secondary,10,72
8,2017-11-27 00:00:00,Cryptokittie,primary,153,1533
9,2017-11-27 00:00:00,Cryptokittie,secondary,12,84

In [62]:
# (0.5/(primary cumulative count +1) + (primary cumulative count/(primary cumulative count +1)*secondary cumulative count/primary cumulative count)
# 0.5/481 + ((480/481)*8/480)
# print(0.5/481 + ((480/481)*8/480))

# temp_df_prob_resale2.loc[(temp_df_prob_resale2['Collection_cleaned'] == 'Cryptokittie') & (temp_df_prob_resale2['Datetime_updated'] == '2017-11-23 00:00:00')]

# temp_df_prob_resale2.groupby(['Collection_cleaned', 'Datetime_updated'])[['sales_type','cumulative_count']].sum()

In [63]:
import numpy as np
test_df = pd.pivot_table(temp_df_prob_resale2, values=['cumulative_count'], index=['Collection_cleaned','Datetime_updated'], columns=['sales_type'],
                    aggfunc={'cumulative_count': np.sum}, fill_value=0).reset_index()

In [64]:
test_df.columns

MultiIndex([('Collection_cleaned',          ''),
            (  'Datetime_updated',          ''),
            (  'cumulative_count',   'primary'),
            (  'cumulative_count', 'secondary')],
           names=[None, 'sales_type'])

In [65]:
test_df.head(5)

           Collection_cleaned     Datetime_updated cumulative_count
sales_type                                                  primary secondary
0              Aaronsartistry  2021-01-27 00:00:00                1         0
1              Aaronsartistry  2021-02-16 00:00:00                5         0
2              Aaronsartistry  2021-02-26 00:00:00                6         0
3              Aaronsartistry  2021-03-05 00:00:00               12         0
4              Aaronsartistry  2021-03-06 00:00:00               16         0

In [66]:
# test_df.index.names

In [67]:
# type(test_df[('Collection_cleaned',          '')])
# type(test_df[(  'Datetime_updated',          '')])
# type(test_df[(  'cumulative_count',   'primary')])
# type(test_df[(  'cumulative_count', 'secondary')])

In [68]:
# test_df[(  'cumulative_count',   'primary')]

In [69]:
# type(test_df)
# # test_df2 = test_df.to_frame(index=False)
# # test_df2.head()
# test_df2 = pd.concat([test_df[('Collection_cleaned',          '')], test_df[(  'Datetime_updated',          '')], test_df[(  'cumulative_count',   'primary')]], axis=1, columns=['index','Collection_cleaned','Datetime_updated','primary_cum_count']).reset_index()
# test_df2.head(5)

In [70]:
# test_df.stack(['Collection_cleaned','Datetime_updated']).reset_index()
# test_df.head(5)

In [71]:
# test_df2 = pd.melt(test_df)
# test_df2.head(5)

In [66]:
print(len(test_df))
print(len(test_df2))

83017

NameError: name 'test_df2' is not defined

In [67]:
test_df['p_resale_test'] = (0.5/(test_df[('cumulative_count','primary')] +1) + 
                            (test_df[('cumulative_count','primary')]/(test_df[('cumulative_count','primary')] +1)
                             *test_df[('cumulative_count','secondary')]/test_df[('cumulative_count','primary')]))
test_df.head(10)

           Collection_cleaned     Datetime_updated cumulative_count            \
sales_type                                                  primary secondary
0              Aaronsartistry  2021-01-27 00:00:00                1         0
1              Aaronsartistry  2021-02-16 00:00:00                5         0
2              Aaronsartistry  2021-02-26 00:00:00                6         0
3              Aaronsartistry  2021-03-05 00:00:00               12         0
4              Aaronsartistry  2021-03-06 00:00:00               16         0
5              Aaronsartistry  2021-03-07 00:00:00               17         0
6              Aaronsartistry  2021-03-10 00:00:00               18         0
7              Aaronsartistry  2021-03-17 00:00:00               19         0
8              Aaronsartistry  2021-03-20 00:00:00               21         0
9              Aaronsartistry  2021-03-21 00:00:00               35         1

           p_resale_test
sales_type
0               0.250000
1               0.083333
2               0.071429
3               0.038462
4               0.029412
5               0.027778
6               0.026316
7               0.025000
8               0.022727
9               0.041667

In [68]:
test_df.isna().sum()

                    sales_type
Collection_cleaned                    0
Datetime_updated                      0
cumulative_count    primary           0
                    secondary         0
p_resale_test                     10500
dtype: int64

### Merge Probability Resale calculations with original dataframe

In [69]:
test_df2 = test_df.drop(columns=[('cumulative_count','primary'), ('cumulative_count','secondary')]).reset_index()
test_df2.head(5)

           index Collection_cleaned     Datetime_updated p_resale_test
sales_type
0              0     Aaronsartistry  2021-01-27 00:00:00      0.250000
1              1     Aaronsartistry  2021-02-16 00:00:00      0.083333
2              2     Aaronsartistry  2021-02-26 00:00:00      0.071429
3              3     Aaronsartistry  2021-03-05 00:00:00      0.038462
4              4     Aaronsartistry  2021-03-06 00:00:00      0.029412

In [70]:
test_df2 = test_df2.reset_index(drop=True)
test_df2.head(5)

           index Collection_cleaned     Datetime_updated p_resale_test
sales_type
0              0     Aaronsartistry  2021-01-27 00:00:00      0.250000
1              1     Aaronsartistry  2021-02-16 00:00:00      0.083333
2              2     Aaronsartistry  2021-02-26 00:00:00      0.071429
3              3     Aaronsartistry  2021-03-05 00:00:00      0.038462
4              4     Aaronsartistry  2021-03-06 00:00:00      0.029412

In [71]:
print(len(test_df2))
print(len(test_df))

83017
83017

In [72]:
test_df2.columns

MultiIndex([(             'index', ''),
            ('Collection_cleaned', ''),
            (  'Datetime_updated', ''),
            (     'p_resale_test', '')],
           names=[None, 'sales_type'])

In [73]:
df = pd.merge(df, test_df2, how='left', left_on=['Collection_cleaned','Datetime_updated'], right_on=[('Collection_cleaned', ''), (  'Datetime_updated', '')])
df.head(5)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  """Entry point for launching an IPython kernel.

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_USD_14d,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d,sales_type,collection_sales_type,"(index, )","(Collection_cleaned, )","(Datetime_updated, )","(p_resale_test, )"
0,NaN,1001.0,0x5c8a04e3174fed51f8cbe8f8ec77b6d5714343c3ebc6...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x672ec49f7f7eac25c3a2e651f67f579bb5da8936,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672
1,NaN,1002.0,0x468168419be7e442d5ff32d264fab24087b744bc2e37...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x316c55d1895a085c4b39a98ecb563f509301aaf7,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672
2,NaN,1003.0,0xc9812b823ddd7b32184525598aafeae78e3b4544a471...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x730fafe1108f507b454b6eb59f0eec1f1ba31935,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672
3,NaN,1004.0,0xa218fc480601f5810b51138ce92365deb00e9e0107d1...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x3849082eff243a825a82baea2a7c6f20a1134fd0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672
4,NaN,1005.0,0x4aac006449d46587bafd2836cfb221be3588137c4022...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x30ad9c33809f33b599f1b9e6b69958e1c22b3ae0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,3.970675,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672

In [74]:
print(len(df))
df.columns

6071027

Index([          'Smart_contract',                 'ID_token',
               'Transaction_hash',           'Seller_address',
                'Seller_username',            'Buyer_address',
                 'Buyer_username',              'Image_url_1',
                    'Image_url_2',              'Image_url_3',
                    'Image_url_4',             'Price_Crypto',
                         'Crypto',                'Price_USD',
                           'Name',              'Description',
                     'Collection',                   'Market',
               'Datetime_updated', 'Datetime_updated_seconds',
                 'Permanent_link',     'Unique_id_collection',
             'Collection_cleaned',                 'Category',
             'Rolling_Median_USD',    'Rolling_Median_Crypto',
                  'Median_USD_2y',         'Median_Crypto_2y',
                  'Median_USD_1y',         'Median_Crypto_1y',
                'Median_USD_180d',       'Median_Crypto_180d',
                 'Median_USD_90d',        'Median_Crypto_90d',
                 'Median_USD_60d',        'Median_Crypto_60d',
                 'Median_USD_30d',        'Median_Crypto_30d',
                 'Median_USD_14d',        'Median_Crypto_14d',
                  'Median_USD_7d',         'Median_Crypto_7d',
                     'sales_type',    'collection_sales_type',
                    ('index', ''), ('Collection_cleaned', ''),
         ('Datetime_updated', ''),      ('p_resale_test', '')],
      dtype='object')

In [75]:
# df.drop(columns=[('index', ''), ('p_resale_test', '')])
# # df[('p_resale_test', '')].isna().sum()

In [76]:
df['collection_sales_type'].value_counts()

secondary    6066311
primary         4716
Name: collection_sales_type, dtype: int64

In [77]:
df['p_resale'] = np.where(df['collection_sales_type'] == 'primary', 0.5, df[('p_resale_test', '')])

In [78]:
len(df)
df.head(5)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d,sales_type,collection_sales_type,"(index, )","(Collection_cleaned, )","(Datetime_updated, )","(p_resale_test, )",p_resale
0,NaN,1001.0,0x5c8a04e3174fed51f8cbe8f8ec77b6d5714343c3ebc6...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x672ec49f7f7eac25c3a2e651f67f579bb5da8936,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672,0.5
1,NaN,1002.0,0x468168419be7e442d5ff32d264fab24087b744bc2e37...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x316c55d1895a085c4b39a98ecb563f509301aaf7,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672,0.5
2,NaN,1003.0,0xc9812b823ddd7b32184525598aafeae78e3b4544a471...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x730fafe1108f507b454b6eb59f0eec1f1ba31935,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672,0.5
3,NaN,1004.0,0xa218fc480601f5810b51138ce92365deb00e9e0107d1...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x3849082eff243a825a82baea2a7c6f20a1134fd0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672,0.5
4,NaN,1005.0,0x4aac006449d46587bafd2836cfb221be3588137c4022...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x30ad9c33809f33b599f1b9e6b69958e1c22b3ae0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,primary,primary,19518,Cryptokittie,2017-11-23 00:00:00,0.017672,0.5

In [79]:
df.tail(5)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d,sales_type,collection_sales_type,"(index, )","(Collection_cleaned, )","(Datetime_updated, )","(p_resale_test, )",p_resale
6071022,atomicassets,1099529894344,NaN,4ctrc.wam,NaN,1wsbe.wam,NaN,QmXa4fjB7AVd8rLvUcBk5uPKVugg2Bfj26PEwVth71T3yn,https://ipfs.io/ipfs/QmXa4fjB7AVd8rLvUcBk5uPKV...,https://ipfs.atomichub.io/ipfs/QmXa4fjB7AVd8rL...,...,0.48,0.091056,0.48,primary,secondary,1370,Alien,2021-04-27 00:00:00,0.266196,0.266196
6071023,atomicassets,1099529899954,NaN,napcc.wam,NaN,yuoqy.wam,NaN,QmXa4fjB7AVd8rLvUcBk5uPKVugg2Bfj26PEwVth71T3yn,https://ipfs.io/ipfs/QmXa4fjB7AVd8rLvUcBk5uPKV...,https://ipfs.atomichub.io/ipfs/QmXa4fjB7AVd8rL...,...,0.48,0.091056,0.48,primary,secondary,1370,Alien,2021-04-27 00:00:00,0.266196,0.266196
6071024,atomicassets,1099529899571,NaN,.upcc.wam,NaN,yuoqy.wam,NaN,QmXa4fjB7AVd8rLvUcBk5uPKVugg2Bfj26PEwVth71T3yn,https://ipfs.io/ipfs/QmXa4fjB7AVd8rLvUcBk5uPKV...,https://ipfs.atomichub.io/ipfs/QmXa4fjB7AVd8rL...,...,0.48,0.091056,0.48,primary,secondary,1370,Alien,2021-04-27 00:00:00,0.266196,0.266196
6071025,atomicassets,1099529899986,NaN,p2pcc.wam,NaN,yuoqy.wam,NaN,QmXa4fjB7AVd8rLvUcBk5uPKVugg2Bfj26PEwVth71T3yn,https://ipfs.io/ipfs/QmXa4fjB7AVd8rLvUcBk5uPKV...,https://ipfs.atomichub.io/ipfs/QmXa4fjB7AVd8rL...,...,0.48,0.091056,0.48,primary,secondary,1370,Alien,2021-04-27 00:00:00,0.266196,0.266196
6071026,atomicassets,1099527768250,NaN,asrbi.wam,NaN,dwes2.wam,NaN,QmYm1FG7LxhF3mFUaVmVEVqRztEmByVbHwL6ZWXwVY2dvb,https://ipfs.io/ipfs/QmYm1FG7LxhF3mFUaVmVEVqRz...,https://ipfs.atomichub.io/ipfs/QmYm1FG7LxhF3mF...,...,0.48,0.091056,0.48,primary,secondary,1370,Alien,2021-04-27 00:00:00,0.266196,0.266196

In [80]:
df = df.drop(columns=[('index', ''),('Collection_cleaned', ''),('Datetime_updated', ''), ('p_resale_test', '')])
df.head(5)

,Smart_contract,ID_token,Transaction_hash,Seller_address,Seller_username,Buyer_address,Buyer_username,Image_url_1,Image_url_2,Image_url_3,...,Median_Crypto_60d,Median_USD_30d,Median_Crypto_30d,Median_USD_14d,Median_Crypto_14d,Median_USD_7d,Median_Crypto_7d,sales_type,collection_sales_type,p_resale
0,NaN,1001.0,0x5c8a04e3174fed51f8cbe8f8ec77b6d5714343c3ebc6...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x672ec49f7f7eac25c3a2e651f67f579bb5da8936,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary,0.5
1,NaN,1002.0,0x468168419be7e442d5ff32d264fab24087b744bc2e37...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x316c55d1895a085c4b39a98ecb563f509301aaf7,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary,0.5
2,NaN,1003.0,0xc9812b823ddd7b32184525598aafeae78e3b4544a471...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x730fafe1108f507b454b6eb59f0eec1f1ba31935,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary,0.5
3,NaN,1004.0,0xa218fc480601f5810b51138ce92365deb00e9e0107d1...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x3849082eff243a825a82baea2a7c6f20a1134fd0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary,0.5
4,NaN,1005.0,0x4aac006449d46587bafd2836cfb221be3588137c4022...,0xba52c75764d6f594735dc735be7f1830cdf58ddf,NaN,0x30ad9c33809f33b599f1b9e6b69958e1c22b3ae0,NaN,https://img.cryptokitties.co/0x06012c8cf97bead...,NaN,NaN,...,0.009922,3.970675,0.009922,3.970675,0.009922,3.970675,0.009922,primary,primary,0.5

In [81]:
df.to_pickle('df_price_values.pkl')

In [120]:
# print(type(test_df['Datetime_updated'].iloc[0]))
# test_date = test_df['Datetime_updated'].iloc[0]
# test_date

In [121]:
# test_date2 = pd.to_datetime(test_date) - timedelta(1)
# test_date2

In [122]:
# test_date2.strftime('%Y-%m-%d 00:00:00')

In [123]:
# df['Datetime_to_match'] = (pd.to_datetime(df['Datetime_updated'])-timedelta(1)).dt.strftime('%Y-%m-%d 00:00:00')
# df.head(5)

In [124]:
# print(type(df['Datetime_updated'].iloc[0]))
# print(type(df['Datetime_to_match'].iloc[0]))

In [125]:
# len(df)

In [126]:
# len(temp_df_primarysecondary2)

In [127]:
# temp_df_primarysecondary2['Datetime_to_match'] = (pd.to_datetime(temp_df_primarysecondary2['Datetime_updated'])-timedelta(1)).dt.strftime('%Y-%m-%d 00:00:00')
# temp_df_primarysecondary2.head(5)

In [128]:
# df_rolling_median.columns

In [129]:
# temp_df_primarysecondary2.columns

In [130]:
# temp_df_primarysecondary2 = pd.merge(temp_df_primarysecondary2, df_rolling_median[['Collection_cleaned','Datetime_updated','Rolling_Median_USD', 'Rolling_Median_Crypto']], 
#                                      left_on=['Collection_cleaned','Datetime_to_match'], right_on=['Collection_cleaned','Datetime_updated'], how="inner", suffixes=('_left', '_right'))
# temp_df_primarysecondary2.head(5)

In [ ]:
# temp_df_primarysecondary2['Datetime_to_match'] = np.where(
#     df['A'] == df['B'], 0, np.where(
#     df['A'] >  df['B'], 1, -1))

In [111]:
# import time
# from datetime import datetime, timedelta, date, time

# test_df['Datetime_to_match'] = pd.to_datetime(test_df['Datetime_updated']) - timedelta(1)
# test_df.head(10)

In [132]:
# temp_df_godsunchained = temp_df_primarysecondary2.loc[df['Collection_cleaned'] == 'Godsunchained']
# len(temp_df_godsunchained)

# # df[df['Price_USD'] > 10000].groupby('year')['ID_token'].count()

# # sum_kitties = kitties.groupby(pd.Grouper(key='Datetime_updated', axis=0)).mean()
# # sum_kitties[['Price_USD']]

In [131]:
# temp_df_godsunchained2 = temp_df_godsunchained[['Collection_cleaned','collection_sales_type','sales_type','Datetime_updated']]
# temp_df_godsunchained2.head(5)

In [133]:
# temp_df_godsunchained2.tail(5)

In [134]:
# temp_df_count_godsunchained = temp_df_godsunchained2.groupby([pd.Grouper(key='Datetime_updated', axis=0),'Collection_cleaned','sales_type']).count()
# temp_df_count_godsunchained.head(5)

In [135]:
# temp_df_count_godsunchained2 = temp_df_count_godsunchained.reset_index().rename(columns={'collection_sales_type':'daily_count'})
# temp_df_count_godsunchained2.head(5)

In [136]:
# temp_df_count_godsunchained2['cumulative_count'] = temp_df_count_godsunchained2.groupby(['Collection_cleaned','sales_type'])['daily_count'].transform(pd.Series.cumsum)
# temp_df_count_godsunchained2.head(10)

In [137]:
# print(len(temp_df_count_godsunchained2))
# temp_df_count_godsunchained2.tail(5)

In [138]:
# print(len(temp_df_median_godsunchained))
# temp_df_median_godsunchained.tail(5)

In [139]:
# df2 = temp_df_godsunchained2.groupby(['Collection_cleaned']).apply(lambda d: d.assign(rm = d['Price_USD'].rolling(window = 90, min_periods = 1).median())).reset_index(drop = True)
# df2